<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/defeatStylesheet.css" rel="stylesheet" type="text/css">

</head>
<body>
<audio src="/static/ship.mp3" id="my_audio" loop="loop" ></audio>
        <script type="text/javascript">
        window.onload=function(){
        document.getElementById("my_audio").play();
            }
        </script>
<div class="loader">
    <h1>Defeat</h1>
    <h2>Player 1</h2>
</div>
</body>
<script>
window.onload = () => {
    setTimeout(function(){ window.location.href= '/';}, 7000);
}
</script>
</html>